:root {
	--green-dark: #153D22;
    --green-dark-trans: rgb(21, 61, 34, 0.8);
    --green-light: #275435;
    --green-light-trans: rgb(39, 84, 53, 0.6);
    --green-lighter: #479A61;

    --orange-dark: #E25F00;
    --orange-light: #EE8F00;
    --orange-light-trans: rgb(238, 143, 0, 1);

    --white: #FFFFFF;
    --white-trans: rgb(256, 256, 256, 1);

    --font-family: Roboto;
    --header-font-family: Bungee;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--white);
    font-family: var(--font-family);
    font-size: 1rem;
}

h1, h2, h3 {
    font-family: var(--header-font-family);
}

#navbar {
    background-color: #153D22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 0;
    width: 100vw;
    z-index: 9;
}

.sticky {
    top: 0;
    position: fixed;
}

.hidden {
    display: none;
}

#navbar-img {
    height: 3rem;
    margin: 0 20px;
}

#nav-links {
    list-style: none;
    display: flex;
}

#nav-links a {
    text-decoration: none;
    color: var(--white);
    line-height: 64px;
    padding: 0 12px;
}

#nav-links a:hover {
    background-color: var(--orange-light);
}

div.buffer {
    height: 64px;
}

#header-container {
    position: relative;
    display: grid;
    width: 100vw;
    height: 600px;
    background: linear-gradient(var(--green-light-trans), var(--green-dark)), url("img/hike-bg.jpg"); 
    background-size: cover;
}

#header-text {
    color: var(--white);
    position: absolute;
    place-self: center;
    text-align: center;
}

.alt-color {
    color: var(--orange-dark);
}

.light-color {
    color: var(--green-lighter);
}

.light-color > a {
    color: var(--green-lighter);
}

.light-color > a:hover {
    color: var(--white);
}

#about {
    width: 100vw;
    margin-bottom: 36px;
    display: grid;
    justify-content: center;
}

.info-left, .info-right {
    width: calc(100vw - 40px);
    max-width: 700px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info-left img, .info-right img {
    height: 300px;
}

.info-left img {
    margin-right: 40px;
}

.info-right img {
    margin-left: 40px;
}

#sign-up {
    width: 100vw;
    background-color: #153D22;
    color: var(--white);
    display: grid;
    justify-content: center;
}

#sign-up-form {
    width: calc(100vw - 20px);
    max-width: 700px;
    padding: 20px;
    text-align: start;
    justify-content: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 300px;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    background-color: #EE8F00;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #E25F00;
}
